<div class="banner">
    <div class="image-fundo">
     <img class="pesado" src="/assets/family.jpg" alt="">
    </div>
    <div class="filter">
        <div class="container">
            <div class="title titleMobile">
                <h2 class="wow swing" data-wow-delay="0.5s" >Sorteio Walyson</h2>
            </div>
            <div class="descripton">
                <h2 class="wow bounceInRight" data-wow-delay="0.5s" >Campanha para arrecadar dinheiro para ajudar no pagamento dos advogados.</h2>
            </div>
            <p class="model seta-direita wow bounceInLeft" data-wow-delay="0.4s" ><span>Modelo:</span> Suzuki AN 125 </p>
            <p class="color seta-direita wow bounceInLeft" data-wow-delay="0.7s" ><span>Cor:</span> Preta</p>
            <p class="yers seta-direita wow bounceInLeft" data-wow-delay="1s" ><span>Ano:</span> 2009</p>
            <div class="value">
                <p class="description wow fadeInRightBig">Valor de cada numero:</p>
                <p class="wow fadeInRightBig">R$: 25,00</p>
            </div>
        </div>
    </div>

    <div class="slideshow-container wow wow fadeInDown">
        <div class="mySlides">
            <p class="title">#Justiça</p>
        </div>
        <div class="mySlides">
            <p class="title">#Liberdade</p>
        </div>
        <div class="mySlides">
            <p class="title">#Inocente</p>
        </div>
    </div>


    <div class="image">
        <img class="wow fadeInDownBig" data-wow-delay="1s" src="/assets/moto_300px.png" alt="Moto">
    </div>
    <!-- <div class="whats">
            <a href="https://{{isMobile() ? 'api.whatsapp.com' : 'web.whatsapp.com'}}/send?phone=5511952216311&text=ola, obrigado pela ajuda"
                target="_blank" class="linkWhatsapp"> <i class="fab fa-whatsapp"></i> 11952216311 </a>
        </div> -->
</div>