<div class="banner">
    <div class="container">
        <h2>Rifa Walison</h2>
        <p class="model"><span>Modelo:</span> Suzuki AN 125 </p>
        <p class="color"><span>Cor:</span> Preta</p>
        <p class="yers"><span>Ano:</span> 2009</p>
        <div class="image">
            <img src="/assets/moto_300px.png" alt="Moto">
        </div>
        <div class="value">
            <p class="description">Valor de cada numero da Rifa:</p>
            <p>R$: 30,00</p>
        </div>
        <div class="whats">
            <p>(11) 99999-9999</p>
        </div>
    </div>
</div>