<section class="draw">
    <div class="container">
        <div class="legend">
            <button type="submit" class="btn all">Todos (600)</button>
            <button type="submit" class="btn available">Disponível (0)</button>
            <button type="submit" class="btn reserved">Reservado (0)</button>
        </div>

        <div class="numberSort">
            <a *ngFor="let test of numbers, let i = index" (click)="getNumber(i)" id="number_0" class="rifa_number item_reservado tooltip_flip all">
                {{test}}   
            </a>
            <button type="submit" (click)="popUpOn()">Selecionar</button>
        </div>
    </div>

</section>

<app-lightbox *ngIf="modal" (onClick)="onClose()" class="infos__lightbox">
    <div class="reserved_number">
        <h2>Reserva de número</h2>
        <label class="label">Deseja reservar o(s) número(s):
        </label>
       <p>{{numberChoose}} <i class="fa fa-trash-o" (click)="deletenumber(numberChoose)" title="Remover número"></i></p> 
    </div>
    <div class="d-flex align-center">
        <label class="label">Nome:</label>
        <div class="size">
            <input type="text"
                class="text-input" placeholder="Nome"
                onkeyup="this.value=this.value.replace(/[<>!@#$%*~;&1234567890():=]/g,'')">
        </div>
    </div>

    <div class="d-flex align-center">
        <label class="label">Telefone:</label>
        <div class="size">
            <input type="tel"
            class="text-input" placeholder="(00) 00000-0000">
        </div>
    </div>

    <div class="buttom">
        <button type="submit">Enviar</button>
    </div>
</app-lightbox>