<section class="draw">
    <div class="container">
        <div class="legend">
            <button type="submit" class="btn available wow bounceInLeft">Disponível (0)</button>
            <button type="submit" class="btn reserved wow fadeInDownBig">Indisponível (0)</button>
            <button type="submit" class="btn selected wow fadeInRightBig">Selecionado ({{listItem.length}})</button>
        </div>

        <div class="numberSort">
            <button type="submit" *ngFor="let numberSelect of numbers, let i = index"
                [ngClass]="{'selected': findColors(numberSelect)}" (click)="getNumber(numberSelect, i)"
                class="rifa_number item_reservado tooltip_flip">
                {{numberSelect}}
            </button>
        </div>
    </div>

    <div class="carousel-cell wow fadeInLeftBig">
        <div class="container">
        <carousel
        class="sizeSlide"
        [images]="images"
        [overflowCellsLimit]="1"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [autoplay]="true"
        [dots]="true"
        [loop]="true">
        </carousel>
    </div>  
    </div>

    <app-menu-bottom *ngIf="menuReserva" (finalizarCompra)="goPayment()"></app-menu-bottom>

    <div class="container">
        <div class="description_payment">
            <p class="wow fadeInRightBig">Para reservar seu(s) numero(s) clique no numero(s) escolhido(s), faça a transfêrencia TED, DOC ou PIX,
                depois clique no botão abaixo para entrar em contato e enviar o comprovante para Thalison Oliveira da
                Silva.</p>
            <div class="buttons wow fadeInUp">
                <button class="btn" (click)="popUpOn()">Entrar em contato e enviar o comprovante</button>
            </div>
        </div>
    </div>
</section>


<app-lightbox *ngIf="modal" (closeModal)="modal = false" class="infos__lightbox">
    <div class="reserved_number">
        <h2>Reserva de número</h2>
        <label class="label">Deseja reservar o(s) número(s):
        </label>
            <p *ngFor="let item of listItem">{{item}} <i class="fa fa-trash-o" title="Remover número"></i></p> 
    </div>
    <div class="d-flex align-center">
        <label class="label">Nome:</label>
        <div class="size">
            <input type="text"
                class="text-input" placeholder="Nome"
                onkeyup="this.value=this.value.replace(/[<>!@#$%*~;&1234567890():=]/g,'')">
        </div>
    </div>

    <div class="d-flex align-center">
        <label class="label">Telefone:</label>
        <div class="size">
            <input type="tel"
            class="text-input" placeholder="(00) 00000-0000">
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn">Enviar</button>
    </div>
</app-lightbox>

<app-lightbox *ngIf="modalVoid" (closeModal)="modalVoid = false" class="infos__lightbox">
 <p class="noting">Selecione um numero</p>
</app-lightbox>