@import "../sass/variables";

.draw {
    padding: 60px 0;
    display: flex;
    .legend {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .btn {
            display: inline-table;
            font-size: 14px;
            font-family: $OpenSans;
            height: 40px;
            width: 20%;
            margin-right: 5px;
            margin-bottom: 5px;
            z-index: 10;
            font-weight: bold;
            text-align: center;
            border-radius: 25px;
            border-style: solid;
            border-width: 1px;
            color: #fff;
        }
        .all {
            background-color: #FFA500 ;
        }
        .available {
            background-color: green;
        }
        .reserved {
            background-color: red;
        }
    }
    .numberSort {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        .item_reservado {
            width: 46px;
            height: 46px;
            margin: 3px 2px 3px 1px;
            font-weight: bold;
            font-family: $OpenSans;
            text-align: center;
            border-radius: 25px;
            border-width: 1px;
            border-style: solid;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-color: #000;
            color: #000;
            text-decoration: none;
        }
        .all {
            background-color: #fff;
        }
        .available {
            background-color: green;
        }
        .reserved {
            background-color: red;
        }
    }

}

.reserved_number {
    
    h2 {
        justify-content: center;
        font-size: 32px;
        font-family: $Poppins;
        text-align: center;
    }
    p {
        margin: 5px 5px 5px 0;
        padding: 5px;
        border: 1px solid #529442;
        background-color: #80d56b;
        border-radius: 4px;
        display: inline-block;
        color: #363636!important;
    }
}

.label {
    color: #000;
    font-family: $Poppins;
    font-size: 14px;
    margin-bottom: 10px;
}

    .text-input {
        font-family: $OpenSans;
        font-size: 14px;
        padding: 10px 14px;
        border: none;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition: 0.1s ease-in;
        width: 100%;
        color: #212121;
        resize: none;
        &.no-label {
          margin-top: 17px;
        }
      
        &.inline,
        .no-label {
          margin-top: 0;
          display: inline-block;
        }
      
        &:hover {
          outline: none;
          box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.1);
        }
        &:disabled {
          outline: none;
          background: rgba(235, 235, 228, 0.6);
          &:hover {
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
          }
        }
        &:focus {
          outline: none;
          box-shadow: 0px 3px 6px rgba(40, 255, 230, 0.3);
        }
      
        &::placeholder {
          color: #bfbfbf;
        }
        &:-ms-input-placeholder {
          color: #d5d5d5;
        }
        &::-ms-input-placeholder {
          color: #d4d4d4;
        }
      
        &.error {
          border: 1px solid red;
        }
      }

      .align-center {
          flex-direction: column;
          margin-bottom: 20px;
          .size {
              width: 100%;
          }
      }
