<div class="acquiredNumbers">
    <div class="container">
        <div class="butons">
            <div class="adicionar">
                <i class="fa fa-trash"></i>
            </div>
            <div class="adicionar">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>

    <section class="draw">
        <div class="container">
            <div class="numberSort">
                <button type="submit"
                    class="rifa_number item_reservado tooltip_flip">
                    teste
                </button>
            </div>
            <div class="numberSort">
                <button type="submit"
                    class="rifa_number item_reservado tooltip_flip">
                    teste
                </button>
            </div>
            <div class="numberSort">
                <button type="submit"
                    class="rifa_number item_reservado tooltip_flip">
                    teste
                </button>
            </div>

                        <div class="numberSort">
                <button type="submit"
                    class="rifa_number item_reservado tooltip_flip">
                    teste
                </button>
            </div>
        </div>
    </section>