@import "../sass/variables";

.header {
    display: flex;
    background: $blue_dark;
    padding-bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    .container {
        padding-bottom: 0!important;
    }
    .logo {
        margin-bottom: -3px;
    }
    .allTo {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 2.5rem;
            font-family: $Poppins;
            color: $white;
            text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000;
            font-weight: bold;
        }
    }
}

.slideshow-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 35%;
    // padding: 30px;
    width: 100%;

    p {
        font-size: 20px;
        font-family: $Poppins;  
    }
}

.mySlides {
    width: 50%;
    // background: rgba(19, 24, 25, .4);
    .title {
        font-size: 2.5rem;
        font-family: $Poppins; 
        color: $white;
        text-align: center;
        span {
            font-style: italic;
        }
    }
    .description {
        color: #000;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
}

.animation {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}