<header class="header">
    <div class="container d-flex p-2 bd-highlight">
        <!-- <img src="/assets/inocente-walison.jpg" alt=""> -->
        <div class="logo col-md-3">
            <h2>#TodosPeloWaly</h2>
        </div>

        <div class="slideshow-container  col-md-9">
            <div class="mySlides">
                <p class="title">#Justiça</p>
            </div>
            <div class="mySlides">
                <p class="title">#Liberdade</p>
            </div>
            <div class="mySlides">
                <p class="title">#Inocente</p>
            </div>
            <div class="mySlides">
                <p class="title">#Carater</p>
            </div>
        </div>
    </div>
</header>