<header class="header" *ngIf="!showButton">
  <div class="container d-flex p-2 bd-highlight">
    <!-- <img src="/assets/inocente-walison.jpg" alt=""> -->
    <div class="logo col-md-4 col-sm-12">
      <img class="wow wow bounceInLeft" src="/assets/logo.png" alt="logo">
    </div>
    <div class="allTo col-md-4 col-sm-12">
      <a href="https://www.instagram.com/explore/tags/todospelowaly/" class="link_insta" target="_blank">
        <i class="fa fa-instagram"></i>
        <h2 class="wow bounceInRight" data-wow-delay="0.3s">#TodosPeloWaly</h2>
      </a>
    </div>

    <div class="allTo login col-md-4 col-sm-12" *ngIf="isLogged">
      <a class="link wow bounceInRight" data-wow-delay="0.6s" (click)="loggout()">Sair</a>
    </div>
    <div class="allTo login col-md-4 col-sm-12" *ngIf="isLogged">
      <a class="link wow bounceInRight" data-wow-delay="0.6s"  routerLink="/clientes">Painel</a>
    </div>
  </div>
</header>


<header class="header" *ngIf="showButton" id="menuFixo">
  <div class="container d-flex p-2 bd-highlight">
    <div class="allTo">
      <a href="https://www.instagram.com/explore/tags/todospelowaly/" class="link_insta" target="_blank">
        <i class="fa fa-instagram"></i>
        <h2>#TodosPeloWaly</h2>
      </a>
    </div>
  </div>
</header>
