<app-header></app-header>
<div class="loginForm">
    <form action="" class="form"  [formGroup]="loginData">
        <div class="col-12 form__box">
            <label class="label">Usuário:</label>
            <div class="error">
                <input type="text" class="text-input" placeholder="Usuario" formControlName="user" autocomplete="off">
                <span class="txtError">
                    Usuário inválido.
                </span>
            </div>
        </div>

        <div class="col-12">
            <label class="label">Senha:</label>
            <div class="error">
                <input type="text" class="text-input" placeholder="Senha"  formControlName="password" autocomplete="off">
                <span class="txtError">
                    Senha inválida.
                </span>
            </div>
        </div>

        <div class="button">
            <button class="button__btn" (click)="login()">Entrar</button>
        </div>
    </form>
</div>
